  .blue-page-shifty {
    background-color: #181144;
    width: 29%;
    height: 130vh;
  }
  .blue-page-shiftyy {
    background-color: #181144;
    width: 29%;
    height: 130vh;
  }
  .blue-page-shifty-code {
    background-color: #181144;
    width: 29%;
    height: 110vh;
  }
  .blue-page-image {
    width: 155%;
    margin-right: 50%;
    position: relative;
    right: 100%;
    padding-top: 3%;
  }

  .blue-page-image-login {
    width: 75%;
    margin-right: 50%;
    position: relative;
    right: 10%;
    padding-top: 3%;
  }

  .blue-page-image-point {
    width: 10%;
    margin-right: 50%;
    position: relative;
    right: 25%;
    padding-top: 3%;
  }

  .register-form-content {
    width: 70%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .code-form-content {
    width: 70%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }


  .register-form-title {
    font-family: "PoppinsBold";
    font-size: 60px;
    color: #251E4E;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .register-form-compte {
    font-size: 25, 5px;
    font-family: 'Poppins-light';
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
  }

  .register-form-compte-exist {
    color: #251E4E;
  }

  .register-form-sign_in {
    color: #EC1577;
    cursor: pointer;
    font-family: 'Poppins-light';
    text-decoration-line: underline;
  }

  .register-form-input {
    display: block;
    text-align: center;
  }

  .register-form-input-style {
    width: 60%;
    height: 55px;
    border-radius: 55px;
    margin-bottom: 1%;  
  }

  /* .ant-input:placeholder-shown{
  text-align: center;
  } */

  .register-form-button {
    align-items: center;
 
    justify-content: center;
   
    width: 60%;
    position: relative;
    left: 20%;


    
  }

  .register-form-button-style {
    width: 60%;
    border-radius: 55px;
    background-color: #181143;
    color: white;
    height: 55px;
    margin-top: 5%;
    font-family: "PoppinsBold";
  }

  .register-form-button-style:hover {
    width: 60%;
    border-radius: 55px;
    background-color: #181143;
    color: white;
    height: 55px;
    margin-top: 5%;
    font-family: "PoppinsBold";
  }

  .login-form-title {
  
    margin-top: 5%;
    margin-bottom: 15%;
    
    font-family: "PoppinsBold";
    font-size: 50px;
    color: #251E4E;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .login-form-button {
    align-items: center;
    justify-content: center;
  
    width: 60%;
    position: relative;
    left: 20%;
  }

  .login-form-button-style {
    width: 60%;
    border-radius: 55px;
    background-color: #181143;
    color: white;
    height: 55px;
    margin-top: 5%;
    font-family: "PoppinsBold";
  }

  .login-form-button-style:hover {
    width: 60%;
    border-radius: 55px;
    background-color: #181143;
    color: white;
    height: 55px;
    margin-top: 5%;
    font-family: "PoppinsBold";
  }

  /* Carousel import */

  @import "~slick-carousel/slick/slick.css";
  @import "~slick-carousel/slick/slick-theme.css";
  /* font */

  @font-face {
    font-family: "PoppinsBold";
    src: url("../fonts/poppins-black-webfont.woff");
    src: url("../fonts/poppins-black-webfont.woff2");
  }

  @font-face {
    font-family: "PoppinsMedium";
    src: url("../fonts/poppins-medium-webfont.woff2");
    src: url("../fonts/poppins-medium-webfont.woff");
  }

  @font-face {
    font-family: "PoppinsRegular";
    src: url("../fonts/poppins-regular-webfont.woff");
    src: url("../fonts/poppins-regular-webfont.woff2");
  }

  @font-face {
    font-family: "PoppinsSemiBold";
    src: url("../fonts/poppins-semibold-webfont.woff");
    src: url("../fonts/poppins-semibold-webfont.woff2");
  }

  @font-face {
    font-family: "GilroyBold";
    src: url("../fonts/gilroy-bold-webfont.woff");
    src: url("../fonts/gilroy-bold-webfont.woff2");
  }

  @font-face {
    font-family: "GilroyMedium";
    src: url("../fonts/gilroy-medium-webfont.woff");
    src: url("../fonts/gilroy-medium-webfont.woff2");
  }

  @font-face {
    font-family: "GilroyRegular";
    src: url("../fonts/gilroy-regular-webfont.woff");
    src: url("../fonts/gilroy-regular-webfont.woff2");
  }

  @font-face {
    font-family: "Poppins-Thin";
    src: url("../fonts/Poppins-Thin.woff");
    src: url("../fonts/Poppins-Thin.woff2");
  }

  /* poppins-regular - latin */

  @font-face {
    font-family: 'Poppins-light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
  }

  .ant-btn:hover, .ant-btn:focus, .ant-btn:active {
    background-color: #181143;
    border-color: #181143;
    color: #ffffff;
    box-shadow: 0px 0px 10px 0px #181143;
    font-family: 'GilroyBold';
  }

  .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected {
    color: #F99E1F !important;
    border-bottom: 2px solid #F99E1F !important;
  }

  .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
    border-bottom: 2px solid #F99E1F !important;
  }

  .ant-menu-horizontal {
    border-bottom: 0px #fff !important;
    font-size: 20px;
  }

  .relative {
    display: relative;
  }

  .scroll-hide {
    overflow: hidden;
  }

  .mobileVisible {
    display: none;
  }

  .mobileHidden {
    display: block;
  }

  /* Navbar */

  .topbar {
    height: 80px;
    background: #E1E1E1;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .topbar-menu {
    font-family: "GilroyMedium";
    font-weight: 200;
    font-size: 15px;
    color: #181143 !important;
    padding-right: 70px;
    text-decoration: none;
  }
  .topbar-menu >a{
    color: #181143 !important;
  }

  .topbar-menu:hover {
    color: #F99E1F;
    text-decoration: none;
  }

  .btn-login:visited, .btn-login:active, .btn-login:hover, .btn-login {
    padding: 0px 30px 0px 40px!important;
    background-color: #BABABA!important;
    color: white!important;
    font-size: 14px!important;
    border: none!important;
    box-shadow: 0 0!important;
    height: 30px!important;
    width: 8%;
  }

  .login-icon {
    color: #181143;
    font-size: 15px;
    margin: 0 30px 0 -30px;
  }
  .member-space-content{
    position: absolute;
    right: 0;
    width: 70%;
    background-color: white;
    padding-left: 60px;
    padding-top: 20px;
    transition: width 0.8s;

    
  }
  
  .member-space-content-collapsed{
    position: absolute;
    right: 0;
    width: 93.6%;
    background-color: white;
    padding-left: 115px;
    padding-top: 20px;
    transition: width 0.8s;
  }
  
  /* Menu */

  .menu-pad-row {
    padding: 35px 50px;
  }

  .logo-img {
    width: 44%;
  }

  .page-menu {
    padding-left: 10%;
    padding-top: 2%;
  }

  /* Header */

  .page {
    padding: 5% 10% 0 10%;
    position: relative;
  }

  .title {
    text-align: center;
    font-size: 62px !important;
    font-family: "PoppinsBold";
    line-height: 1;
    color: #181143;
    padding-bottom: 50px;
  }

  .button-header {
    font-family: 'GilroyBold';
    background-color: #F99E1F;
    color: white;
    width: 20%;
    border-radius: 18px;
    padding: 10px 0px 33px 0px;
  }

  .color-title {
    color: #EC1577;
  }

  .shifti-background-icon {
    position: absolute;
    right: -2%;
    top: 3%;
    z-index: -1;
    max-width: 29%;
  }

  .shifti-background-icon-hidden {
    width: 28vmax;
    margin-left: 62vmax;
    bottom: 19.5vmax;
    position: relative;
    z-index: -1;
    visibility: hidden;
  }

  .DesktopShifti1 {
    max-width: 43%;
    position: absolute;
    left: 15%;
    bottom: 7%;
  }

  .DesktopShifti2 {
    max-width: 30%;
    position: absolute;
    right: 13%;
    bottom: 10%;
  }

  /* Content */

  /* Services Section */

  .col-service {
    padding: 3% 5%;
  }

  .button-service {
    background-color: #181143;
    color: white;
    font-family: 'GilroyBold';
    font-size: 17px;
    width: 43%;
    border-radius: 20px;
    padding: 8px 0px 36px 0px;
    margin-top: 70px;
    text-align: center;
  }
 

  .title-row {
    font-family: "GilroyMedium";
    color: #181143;
    padding: 30px 0;
    font-size: 40px;
  }

  .text-row {
    font-family: "GilroyMedium";
    color: #181143;
    /* line-height: 1; */
    font-size: 17px;
  }

  .title-row-colored {
    font-family: "GilroyMedium";
    color: #EC1577;
    padding: 30px 0;
    font-size: 40px;
  }

  .text-row-colored {
    font-family: "GilroyMedium";
    color: #EC1577;
    /* line-height: 1; */
    font-size: 17px;
  }

  .img-width {
    width: 100%;
    height: 100%;
  }

  .vente2 {
    position: absolute;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .visibilite2 {
    position: absolute;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  /* Steps Section */

  .steps-section {
    width: 100%;
    background-color: #181143;
  }

  .steps-section-content {
    padding: 20px 23%;
  }

  .steps-section-title {
    font-family: "GilroyRegular";
    font-size: 70px;
    line-height: 1;
    color: white;
  }

  .steps-section-subtitle {
    font-family: "GilroyRegular";
    font-size: 28px;
    line-height: 2;
    color: white;
  }

  .step-divider {
    background-color: #EC1577;
    width: 100%;
    height: 7px;
  }

  .step-title {
    font-family: "GilroyRegular";
    font-size: 25px;
    line-height: 1;
    margin: 0;
    color: white;
  }

  .step-content {
    font-family: "GilroyRegular";
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20%;
    line-height: 1;
    color: white;
  }

  /* Templates & shops */

  .temp-shop-section {
    width: 100%;
    background-color: white;
    padding: 0 40px;
  }

  .circle-template-img {
    display: none;
  }

  .temp-shop-section-title {
    background: url('../img/template.png') no-repeat 20% 50%;
    background-size: 145px 145px;
    font-family: "GilroyBold";
    font-size: 65px;
    color: #181143;
    text-align: center;
    padding: 120px 0;
  }

  .temp-shop-show-all:hover, .temp-shop-show-all {
    display: block;
    text-align: center;
    font-family: "PoppinsSemiBold";
    font-size: 24px;
    color: #181143;
    text-decoration: none;
    padding-top: 50px;
  }

  .temp-shop-show-all-icon {
    font-size: 15px;
    position: relative;
    color: #181143;
    left: 5px;
    top: -7px;
  }

  .carousel {
    width: 100%;
    padding: 0 50px;
  }

  .slide img {
    max-width: 100%;
  }

  .slide {
    transform: scale(0.75);
    transition: transform 300ms;
    opacity: 1;
  }

  .activeSlide {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 5px 5px rgb(58, 57, 57);
  }

  .btn-slider {
    font-family: "PoppinsSemiBold";
    font-size: 13px;
    background-color: #EC1577;
    color: white;
    width: 35%;
    padding: 0px 0 0px 0;
    position: absolute;
    border-radius: 15px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 7%;
    left: 0;
    right: 0;
  }

  .arrow {
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }

  .arrow-size {
    max-width: 70%;
  }

  .arrow svg {
    transition: color 300ms;
  }

  .arrow svg:hover {
    color: #68edff;
  }

  .next {
    right: -5%;
    top: 50%;
  }

  .prev {
    left: -5%;
    top: 50%;
  }

  /* Packs */

  .pack-section {
    width: 100%;
    background-color: white;
  }

  .pack-section-title {
    background: url('../img/pack.png') no-repeat 41.5% 50%;
    background-size: 145px 145px;
    font-family: "GilroyBold";
    font-size: 65px;
    color: #181143;
    text-align: center;
    padding: 150px 0;
  }

  .circle-pack-img {
    position: relative;
    max-width: 11%;
    left: 37%;
    top: -5px;
  }

  .row-content-pack {
    padding: 0 70px;
  }

  .col-content-pack1 {
    background-image: url('../img/pack1.png');
    max-width: 100%;
    height: 280px;
    border-radius: 30px;
  }

  .col-content-pack2 {
    background-image: url('../img/pack2.png');
    max-width: 100%;
    height: 400px;
    border-radius: 30px;
  }

  .col-content-pack3 {
    background-image: url('../img/pack3.png');
    max-width: 100%;
    height: 540px;
    border-radius: 30px;
  }

  .pack-title {
    color: #EC1577;
    text-align: center;
    font-family: "GilroyBold";
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
  }

  .text-pack {
    font-family: "GilroyMedium";
    color: white;
    font-size: 20px;
    margin: auto;
    padding: 0 5%;
    left: 2%;
    right: 2%;
    top: 40%;
    text-align: left;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bas-pack {
    font-family: "GilroyBold";
    color: white;
    font-size: 20px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5%;
    position: absolute;
  }

  .span-pack {
    font-size: 14px
  }

  /* Description */

  .description-section {
    width: 100%;
    background-color: #181143;
    padding: 60px 60px 100px 60px;
    margin-top: 140px;
  }

  .description-question {
    font-family: "GilroyRegular";
    font-size: 40px;
    color: white;
    line-height: 1;
  }

  .description-text {
    font-family: "GilroyRegular";
    font-size: 20px;
    color: white;
    margin-bottom: 80px;
  }

  .description-start-link:hover, .description-start-link {
    font-family: "GilroyMedium";
    font-size: 30px;
    color: white;
    text-decoration: none;
  }

  .description-start-link-icon {
    position: relative;
    bottom: 7px;
    margin-left: 23px;
    font-size: 20px;
  }

  /* Footer */

  .footer-section {
    background-color: #F99E1F;
    width: 100%;
  }

  .col-footer-1 {
    background-color: #F99E1F;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  .col-footer-2 {
    background-color: white;
  }

  .text-footer1 {
    color: white;
    font-family: "PoppinsMedium";
    margin-bottom: 100px;
  }

  .row-row-footer {
    padding: 50px 30px;
  }

  .icon-footer {
    color: #EC1577;
    font-size: 25px;
    padding-right: 10px;
  }

  .title-color-footer {
    color: #EC1577;
    font-size: 27px;
    font-family: "PoppinsSemiBold";
    margin-bottom: 1.5em;
  }

  .footer-inline {
    display: flex;
  }


  .newsletter {
    position: relative;
    top: 17%;
    color: #181143;
    text-decoration: underline;
    font-size: 18px;
    left:4%
  }

  .button-footer:hover, .button-footer {
    color: white;
    float: right;
    font-family: "PoppinsMedium";
    text-decoration: none;
  }

  .button-footer-icon {
    font-size: 15px;
    position: relative;
    color: #181143;
    left: 5px;
    top: -2px;
  }

  .link-footer {
    color: #181143;
    font-family: "PoppinsRegular";
    font-size: 18px;
  }

  .contact-footer {
    color: #181143;
    font-family: "PoppinsRegular";
    font-size: 18px;
    padding-bottom: 0.3em;
  }
  .contact-footerr {
    color: #181143;
    font-family: "PoppinsRegular";
    font-size: 18px;
    padding-bottom: 0.3em;
  }

  .logofooter {
    max-width: 24%;
    padding-bottom: 50px;
  }

  .input-footer {
    border-radius: 30px;
    background-color: rgb(24, 17, 67);
    color: white;
    position: relative;
    top: 25%;
    width: 75%;
  }

  .subscribe {
    background-color: #181143;
    color: white;
    width: 25%;
    border-radius: 20px;
    position: relative;
    top: 25%;
    left: 2%;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Navbar */
    /* Menu */
    .page-menu {
      padding-left: 7%;
      padding-top: 7%;
    }
    /* Header */
    .title {
      text-align: center;
      font-size: 55px!important;
      font-family: "PoppinsBold";
      line-height: 1;
      color: #181143;
      padding-bottom: 20px;
    }
    .button-header {
      width: 30%;
      margin: 20px 0;
    }
    .DesktopShifti1 {
      top: 45%;
    }
    .DesktopShifti2 {
      top: 52%;
    }
    .shifti-background-icon {
      right: 0%;
    }
    /* Content */
    /* Services Section */
    .col-service {
      padding: 3% 5%;
    }
    .button-service {
      width: 43%;
      padding: 8px 0px 36px 0px;
      margin: 20px 0;
    }
    .title-row {
      font-size: 30px;
      padding-bottom: 20px;
    }
    .text-row-colored, .text-row {}
    .img-width {
      width: 100%;
      height: 100%;
    }
    .vente2 {
      position: absolute;
      width: 66%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-top: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .visibilite2 {
      position: absolute;
      width: 66%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-top: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    /* Steps Section */
    .steps-section-content {
      padding: 20px 17%;
    }
    .steps-section-title {
      font-family: "GilroyRegular";
      font-size: 50px;
      line-height: 1;
    }
    .step-title {
      font-size: 32px;
      line-height: 1.2;
    }
    .step-content {
      font-size: 20px;
      line-height: 1.2;
    }
    /* Templates & shops */
    .temp-shop-section-title {
      background: url('../img/template.png') no-repeat 6% 50%;
      background-size: 140px 140px;
    }
    .circle-template-img {
      display: none;
    }
    .carousel {
      padding: 50px 20px;
    }
    .slide img {
      max-width: 100%;
    }
    .btn-slider {
      font-size: 14px;
      width: 40%;
      padding: 0;
    }
    .arrow {
      background-color: transparent;
      position: absolute;
      cursor: pointer;
      z-index: 10;
    }
    .arrow-size {
      max-width: 70%;
    }
    .arrow svg {
      transition: color 300ms;
    }
    .arrow svg:hover {
      color: #68edff;
    }
    .next {
      right: -5%;
      top: 50%;
    }
    .prev {
      left: -5%;
      top: 50%;
    }
    /* Pack */
    .pack-section-title {
      background: url('../img/pack.png') no-repeat 38% 50%;
      background-size: 145px 145px;
    }
    .circle-pack-img {
      left: 29%;
      max-width: 12%;
    }
    /* Footer */
    .newsletter {
      top: 18%;
    }
    .input-footer {
      border-radius: 30px;
      background-color: rgb(24, 17, 67);
      color: white;
      position: relative;
      top: 10%;
      left: 0;
      width: 65%;
    }
    .subscribe {
      background-color: #181143;
      color: white;
      width: 35%;
      border-radius: 20px;
      position: relative;
      top: 10%;
    }
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .mobileVisible {
      display: unset;
    }
    .mobileHidden {
      display: none;
    }
    /* Navbar */
    .topbar {
      justify-content: space-between;
    }
    .topbar-menu {
      margin-top: -10px;
    }
    /* Menu */
    .page-menu {
      padding-left: 23%;
      padding-top: 12%;
    }
    /* Header */
    .page {
      padding: 10px 30px;
    }
    .title {
      font-size: 30px !important;
      padding-bottom: 30px;
    }
    .DesktopShifti1 {
      top: 45%;
    }
    .DesktopShifti2 {
      top: 55%;
    }
    .shifti-background-icon {
      top: 0%;
    }
    .shifti-background-icon-hidden {
      width: 28vmax;
      margin-left: 62vmax;
      bottom: 19.5vmax;
      position: relative;
      z-index: -1;
      visibility: hidden;
    }
    .color-title {
      color: #EC1577;
    }
    .button-header {
      width: 40%;
      border-radius: 20px;
      padding: 10px 0px 33px 0px;
    }
    /* Content */
    .col-service {
      padding: 3% 10%;
    }
    .button-service {
      width: 43%;
      padding: 8px 0px 36px 0px;
      margin: 20px 0;
    }
    .title-row {
      font-family: "GilroyBold";
      color: #181143;
      padding: 30px 0;
      text-align: center;
      font-size: 30px;
    }
    .title-row-colored {
      font-family: "GilroyBold";
      color: #EC1577;
      padding: 30px 0;
      text-align: center;
      font-size: 30px;
    }
    .text-row-colored, .text-row {
      text-align: center;
    }
    .steps-section {
      width: 100%;
      background-color: #181143;
    }
    .steps-section-content {
      padding: 20px 3%;
    }
    .steps-section-title {
      font-size: 30px;
      text-align: center;
    }
    .steps-section-subtitle {
      font-size: 25px;
      padding-top: 20px;
      line-height: 1;
      text-align: center;
    }
    .step-divider {
      background-color: #EC1577;
      width: 100%;
      height: 7px;
    }
    .step-title {
      text-align: center;
      line-height: 1.2;
    }
    .step-content {
      text-align: center;
      padding: 5%;
    }
    /* Templates & shops */
    .temp-shop-section {
      padding-top: 100px;
    }
    .circle-template-img {
      display: none;
    }
    .temp-shop-section-title {
      background: url('../img/template.png') no-repeat 0% 35%;
      background-size: 120px 120px;
      font-size: 60px;
    }
    .carousel {
      padding: 50px 20px;
      margin-bottom: 0;
    }
    .arrow-size {
      max-width: 55%;
    }
    .arrow svg {
      transition: color 300ms;
    }
    .arrow svg:hover {
      color: #68edff;
    }
    .next {
      right: -5%;
      top: 50%;
    }
    .prev {
      left: -5%;
      top: 50%;
    }
    /* Packs */
    .pack-section-title {
      background: url('../img/pack.png') no-repeat 32% 50%;
      background-size: 130px 130px;
      font-size: 60px;
    }
    .row-content-pack {
      padding: 0 10%;
    }
    .circle-pack-img {
      top: 1vmax;
      left: 26%;
      max-width: 20%;
    }
    .col-content-pack1 {
      background: url('../img/pack1.png');
      background-size: cover;
      max-width: 100%;
      height: 280px;
      border-radius: 30px;
    }
    .col-content-pack2 {
      background: url('../img/pack2.png');
      background-size: cover;
      max-width: 100%;
      height: 400px;
      border-radius: 30px;
    }
    .col-content-pack3 {
      background-image: url('../img/pack3.png');
      background-size: cover;
      max-width: 100%;
      height: 540px;
      border-radius: 30px;
    }
    .text-pack {
      font-family: "GilroyMedium";
      color: white;
      font-size: 20px;
      margin: auto;
      left: 10%;
      right: 10%;
      top: 40%;
      text-align: left;
      position: absolute;
    }
    /* Description */
    .description-section {
      padding: 60px 10% 80px 10%;
    }
    .description-question {
      font-size: 30px;
      text-align: center;
      padding-bottom: 30px;
    }
    .description-text {
      text-align: center;
      margin-bottom: 60px;
    }
    .description-start-link:hover, .description-start-link {
      display: block;
      text-align: center;
    }
    .description-start-link-icon {
      position: relative;
      bottom: 7px;
      margin-left: 23px;
      font-size: 20px;
    }
    /* Footer */
    .col-footer-1 {
      background-color: #F99E1F;
      padding-top: 40px;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 10px;
    }
    .text-footer1 {
      color: white;
      font-family: "PoppinsMedium";
      margin-bottom: 60px;
      text-align: center;
    }
    .row-row-footer {
      padding: 50px 20px;
    }
    .icon-footer {
      color: #EC1577;
      font-size: 25px;
      padding-right: 10px;
    }
    .title-color-footer {
      text-align: center;
    }
    .footer-inline {
      display: flex;
      justify-content: center;
    }
    .newsletter {
      text-align: center;
      top: 0%;
    }
    .link-footer {
      text-align: center;
    }
    .contact-footer {
      text-align: center;
    }
    .logofooter {
      max-width: 35%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px;
    }
    .input-footer {
      border-radius: 30px;
      background-color: rgb(24, 17, 67);
      color: white;
      position: relative;
      top: 5%;
      width: 40%;
      left: 20%;
    }
    .subscribe {
      background-color: #181143;
      color: white;
      width: 20%;
      border-radius: 20px;
      position: relative;
      top: 5%;
      left: 25%;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .mobileVisible {
      display: unset;
    }
    .mobileHidden {
      display: none;
    }
    /* Navbar */
    .topbar {
      justify-content: space-between;
    }
    .topbar-menu {
      margin-top: -10px;
    }
    /* Menu */
    .page-menu {
      padding-left: 23%;
      padding-top: 12%;
    }
    /* Header */
    .page {
      padding-top: 10px;
    }
    .title {
      text-align: center;
      font-size: 20px !important;
      font-family: "PoppinsBold";
      line-height: 1;
      color: #181143;
      padding-bottom: 30px;
    }
    .DesktopShifti1 {
      max-width: 43%;
      position: absolute;
      left: 15%;
      top: 50%;
    }
    .DesktopShifti2 {
      max-width: 30%;
      position: absolute;
      right: 13%;
      top: 57%;
    }
    .color-title {
      color: #EC1577;
    }
    .shifti-background-icon {
      top: 0;
      right: -3%;
    }
    .shifti-background-icon-hidden {
      right: 35%;
      width: 15vmax;
      margin-left: 47vmax;
      position: relative;
      z-index: -1;
    }
    .button-header {
      width: 40%;
      border-radius: 20px;
      padding: 10px 0px 30px 0px;
    }
    /* Content */
    .button-service {
      width: 43%;
      padding: 8px 0px 36px 0px;
      margin: 20px 0;
    }
    .title-row {
      font-family: "GilroyBold";
      color: #181143;
      padding: 30px 0;
      text-align: center;
      font-size: 30px;
    }
    .title-row-colored {
      font-family: "GilroyBold";
      color: #EC1577;
      padding: 30px 0;
      text-align: center;
      font-size: 30px;
    }
    .text-row {
      text-align: center;
    }
    .text-row-colored {
      text-align: center;
    }
    .steps-section {
      width: 100%;
      background-color: #181143;
    }
    .steps-section-content {
      padding: 20px 3%;
    }
    .steps-section-title {
      font-size: 30px;
      text-align: center;
    }
    .steps-section-subtitle {
      font-size: 25px;
      padding-top: 20px;
      line-height: 1;
      text-align: center;
    }
    .step-divider {
      background-color: #EC1577;
      width: 100%;
      height: 7px;
    }
    .step-title {
      text-align: center;
      line-height: 1.2;
    }
    .step-content {
      text-align: center;
      padding: 5%;
    }
    /* Templates & shops */
    .temp-shop-section {
      padding: 0px 30px;
    }
    .circle-template-img {
      display: none;
    }
    .invisible-height {
      height: 20vh;
      display: none;
    }
    .temp-shop-section-title {
      background: url('../img/template.png') no-repeat 10% 50%;
      background-size: 100px 100px;
      font-size: 30px;
      padding: 90px 5%;
    }
    .carousel {
      width: 100%;
      margin-top: 100px auto;
      margin-bottom: 50px;
      padding: 0;
    }
    .arrow-size {
      max-width: 60%;
    }
    .next {
      right: -5%;
      top: 45%;
    }
    .prev {
      left: -5%;
      top: 45%;
    }
    /* Packs */
    .pack-section-title {
      background: url('../img/pack.png') no-repeat 33% 50%;
      background-size: 90px 90px;
      font-size: 40px;
      padding: 100px 0;
    }
    .row-content-pack {
      padding: 0 10%;
      margin-bottom: 100px;
    }
    .circle-pack-img {
      left: 25%;
      max-width: 20%;
    }
    .col-content-pack1 {
      background-image: url('../img/pack1.png');
      max-width: 100%;
      height: 280px;
      border-radius: 30px;
    }
    .col-content-pack2 {
      background-image: url('../img/pack2.png');
      max-width: 100%;
      height: 400px;
      border-radius: 30px;
    }
    .col-content-pack3 {
      background-image: url('../img/pack3.png');
      max-width: 100%;
      height: 540px;
      border-radius: 30px;
    }
    /* Description */
    .description-section {
      margin-top: 60px;
      padding: 60px 20px 80px 20px;
    }
    .description-question {
      font-size: 30px;
      text-align: center;
      padding-bottom: 30px;
    }
    .description-text {
      text-align: center;
      margin-bottom: 60px;
    }
    .description-start-link:hover, .description-start-link {
      display: block;
      text-align: center;
    }
    .description-start-link-icon {
      position: relative;
      bottom: 7px;
      margin-left: 23px;
      font-size: 20px;
    }
    /* Footer */
    .col-footer-1 {
      background-color: #F99E1F;
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
    }
    .text-footer1 {
      color: white;
      font-family: "PoppinsMedium";
      margin-bottom: 60px;
      text-align: center;
    }
    .row-row-footer {
      padding: 50px 20px;
    }
    .icon-footer {
      color: #EC1577;
      font-size: 25px;
      padding-right: 10px;
    }
    .title-color-footer {
      text-align: center;
      padding-top: 30px;
    }
    .footer-inline {
      display: flex;
      justify-content: center;
    }
    .newsletter {
      text-align: center;
      position: unset;
    }
    .link-footer {
      text-align: center;
    }
    .contact-footer {
      text-align: center;
    }
    .logofooter {
      max-width: 35%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px;
    }
    .input-footer {
      border-radius: 30px;
      background-color: rgb(24, 17, 67);
      color: white;
      position: relative;
      top: 5%;
      width: 65%;
    }
    .subscribe {
      background-color: #181143;
      color: white;
      width: 35%;
      border-radius: 20px;
      position: relative;
      top: 5%;
      left: 2%;
    }
  }

  .ant-select-selector{
    width: 100% !important;
    height: 55px !important;
    border-radius: 55px !important;
    margin-bottom: 2% !important;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .register-form-content-steps-1{
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 5%;
  }
  .login-form-button-style-steps-1{
    width: 60%;
    border-radius: 55px;
    background-color: #181143;
    color: white;
    height: 55px;
    font-family:"PoppinsBold" ;
  }
  .error-user-steps{
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20%;
  }
  .login-form-button-steps-1{
      align-items: center;
      justify-content: center;
      padding-top: 5%;
      padding-bottom: 5%;
  }
  .content-blue-page{
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 30%;
  }
 
  .mobileHidden >a{
    color: whitesmoke ;

  }
  .btn-user{
    padding: 0px 30px 0px 40px!important;
    background-color: #BABABA!important;
    color: white!important;
    font-size: 14px!important;
    border: none!important;
    box-shadow: 0 0!important;
    height: 30px!important;
  }

  ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}
.title-service{
  position: relative;
  color: #181143;
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'GilroyBold';
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-service{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-service{
  font-size: 15px;
  font-family: 'GilroyBold';
  color: #181143;
}
ol{
  padding-top: 30px;
  font-size: medium;
  font-family: 'GilroyMedium';
    font-weight: 500;
    list-style: none;
}
.row-service{
  margin-bottom: 5%;
}
.title-service-first{
  font-size: 50px;
  font-family: 'GilroyBold';
  margin-bottom: 5%;
  display: flex;
    align-items: center;
    justify-content: center;
}
.style-page-service{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}
.list-detail-service{
  display: flex;
  align-items: center;
}
.anticon-check-circle{
  padding-right: 5px;
}
.user-confirmation-code-title{
  font-size: 40px;
  font-family: "PoppinsBold";
  color: #251E4E;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.user-confirmation-code-sous-title{
  font-size: 16px;
  font-family: "Poppins-light";
  color: #251E4E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-confirmation-code-title-indication{
font-family: 'Poppins-Thin';
display: flex;
align-items: center;
justify-content: center;
margin-top: 15%;
font-size: 25px;
}
.inputnumber-code{
  width: 70px;
  height: 70px;
  border-radius: 20px;
  outline: none;
  text-align: center;
}
.block-input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  text-align: center  ;
  gap: 1px;
}
.user-confirmation-button-confirmer{
  width: 60%;
  height: 40px;
  background-color: #181143;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "PoppinsBold";
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;

}
.user-confirmation-button-confimer-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.user-confirmation-regener-code{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins-light';
  padding-top: 3%;
}
.user-confirmation-regener-code-message{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Thin";
  color: #11035c;
}
.user-confirmation-code-disabled{
  cursor: not-allowed;
}
.user-confirmation-code-allowed{
  cursor: pointer;
}
.error-email-exist{
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-error-message{
  display: flex;
  align-items: center;
  margin-left: 20%;
  font-size: 12px;
}
.ant-alert-error{
  background-color: #fff2f0;
    border: 1px solid #ffccc7;
    width: 60%;
    height: 50px;
    border-radius: 17px;
    margin-bottom: 20px;
}
.confirmation-error-message{
  display: flex;
    align-items: center;
    justify-content: center;
    /* width: 85%; */
    font-size: 20px;
    margin-top: 20px;
}
.react-tel-input input[type="tel"] {
  height: 3.5rem;
  width: 100%;
  border-radius: 55px;
  border: 1px solid rgb(182, 181, 181);
}
.react-tel-input {
  margin-bottom: 1rem;
}
.react-tel-input .country-list{
  width: 300px !important;
  display: grid;
}
.react-tel-input .flag-dropdown{
  border-bottom-left-radius: 55px;
  border-top-left-radius: 55px;
}
.row-user-information{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-information-input-adresse{
  height: 55px;
  border-radius: 55px;
  margin-bottom: 1%;
}
.form-user-information{
  margin-left: 20%;
  margin-right: 20%;
}
.row-user-information-adresse{
  height: 55px;
  border-radius: 55px;
  margin-bottom: 1%;
}
.button-sauvgarder-user-information{
  align-items: center;
  width: 76%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.button-sauvgarder-user-informationn{
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  position:relative;
  left: 0%;
}
.button-sauvgarder-user-information-entreprise{
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  position:relative;
  left: 0%;
}
.button-sauvgarder-user-product{
  align-items: center;
  width: 78%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.button-sauvgarder-user-domaine{
  align-items: center;
  width: 99%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.button-sauvgarder-user-livraison{

  align-items: center;
  width: 115%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
} 
.button-sauvgarder-user-paiement{

  align-items: center;
  width: 115%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
} 
.button-sauvgarder-user-partenanire{

  align-items: center;
  width: 60%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  left: 19%;
}
.button-sauvgarder-user-template{

  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
} 
.button-sauvgarder-user-information-style{
  width: 60%;
  border-radius: 55px;
  background-color: #181143;
  color: white;
  height: 55px;
  font-family:"PoppinsBold" ;
}
.user-information-title{
  color: #181143;
  font-family:"PoppinsBold" ;
  font-size: 40px;
  margin-bottom: 5%;
}
.user-information-title-entreprise{
  color: #181143;
  font-family:"PoppinsBold" ;
  font-size: 40px;
  margin-bottom: 5%;
}
.user-information-title-mobile{
  color: #181143;
  font-family:"PoppinsBold" ;
  font-size: 40px;
  margin-bottom: 5%;
}
/* .ant-btn > .anticon {
  display: none;
} */
/* .button-user-information-upload:hover , .button-user-information-upload:focus, .button-user-information-upload:active{
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: 0px 0px 10px 0px #ffffff;
  font-family: 'GilroyBold';
  height: 55px;
  border-radius: 55px;
  margin-bottom: 1%;
} */
.button-user-information-upload{
  height: 55px;
  border-radius: 55px;
  margin-bottom: 1%;
}
/* .ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  background-color: #ffffff;
} */
.user-information-page{
  width: 50%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.row-user-information-info-generale-input{
  height: 55px;
  border-radius: 55px;
  margin-bottom: 1%;
  width: 100%;
}
.row-user-information-info-generale-input-text-area{
  height: 55px;
  border-radius: 55px;
  margin-bottom: 1%;
  width: 100%;
  text-align: center;
}
.blue-page-user-inforamtion {
  background-color: #181144;
  width: 30%;
 min-height: 100vh;
}
.user-information-pages{
  width: 70%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 5%;
  margin-top: 5%; 
  min-height: 100vh;
}
.row-user-inforamtion-style{
  margin-right: 5%;
}
.row-user-information-domaine{
 width: 60%;
}
.row-user-information-paiement{
width: 100%;
margin-left: 20%;
margin-right: 5%;
}
.form-user-domaine{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}
.user-information-title-product{
  color: #181143;
  font-family:"PoppinsBold" ;
  font-size: 30px;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25%;
}
.member-space .ant-menu-root.ant-menu-inline{
  color: white;
}

.member-space .ant-menu-title-content{
  color: white;
  font-family: poppins;
  font-weight: 700;
}

.row-user-inforamtion-style-product{
  margin-right: 4%;
    width: 49%;
}
.row-user-information-struct-product{
  width: 85%;
  align-items: center;
  justify-content: center;

}
.row-user-information-struct-product-photo{
  width: 102%;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 15px;
}
.upload-photo-product{
  position: relative;
    bottom: 10px;
    margin-left: 10px;
}
.user-information-categorie-btn-plus{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #FB9D19;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.user-information-categorie-btn-plus:hover{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #181144;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.user-information-categorie-btn-plus-none{
  width: 50px;
  height: 50px;
}
.row-user-infomation-paiement-style{
  padding-bottom: 40px;
}
.temp-shop-section-template {
  width: 60%;
  background-color: white;
  padding: 0 40px;
}
.template-section-title{
  color: #181143;
  font-family: "PoppinsBold";
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:10%;
  padding-top: 5%;
}

/***************devenir partenaire ***************/

.devenir-partenaire{
  width: 20%;
  background-color:#181143;
}
.devenir-partenaire-img{
  position: relative;
    /* left: 0; */
  right: 230%;
}
.devenir-partenaire-right-content{
  width: 80%;
  
}
.contact-right-content{
  width: 37%;
  padding-right: 6%;
}
.contact-right-card{
  width: 40%;
}
.title-devenir-partenaire{
  color: #181143;
  font-family: "PoppinsBold";
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.title-contact{
  color: #181143;
  font-family: "PoppinsBold";
  font-size: 47.12px;
  display: flex;
  align-items: center;
 
  padding-top: 5%;
  padding-bottom: 5%;
}

.form-devenir-partenaire{
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  margin-top: 5%;
}
.row-devenir-partenaire{
  width: 60%;
  margin-bottom: 1em;
  position: relative;
  left: 19%;
}
.row-login-form{
  width: 60%;

  position: relative;
  left: 20%;
}
.member-space-update-text{
  color: #036CAC;
  font-family: poppins;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.member-space-update-text-template{
  color: #036CAC;
  font-family: poppins;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.image-logo-user{
  position: absolute;
    left: 9px;
    bottom: 5px;
}

.image-logo-username{
  position: absolute;
  left: -35px;
  bottom: 2px;
}
/********************contact ******************/

.row-contact{
  width: 100%;
  padding-bottom: 5%;
}
.footer-contact{
  margin-left: 15%;
}
.form-contact{
  width: 100%;
  
  padding-left: 20%;
  margin-top: 5%;
}
.icon-inline {
  display: flex;
}
.button-send-contact-style{
  width: 100%;
  border-radius: 55px;
  background-color: #181143;
  color: white;
  height: 55px;
  font-family:"PoppinsBold" ;
}
.scroll-contact-style{
  overflow-x: hidden;
}
.ant-upload-list-item-error, .ant-upload-list-item-error .ant-upload-text-icon > .anticon, .ant-upload-list-item-error .ant-upload-list-item-name{
  color: #28a745 !important;
}
.ant-upload-list-item-error .ant-upload-list-item-card-actions .anticon{
  color: #28a745 !important;
}
/******************************Responsive user information *********************/

@media only screen and (max-width: 525px) {
  
  /* .blue-page-user-inforamtion {
    display: none;
  } */
  .blue-page-shiftyy {
    display: none;
  }
  .blue-page-shifty-code{
    display: none;
  }
  .ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child){
    margin-bottom: 30px !important;
  }
  .ant-btn-round.ant-btn-lg{
    width: 97%;
  }
  .login-form-title {
    font-size: 25px;
  }
  .contact-right-card{
    width: 80%;
  }
  .contact-right-content{
    width: 80%;
  }
  /* .devenir-partenaire{
    height: 100%;
  } */
  .upload-photo-product{
    width: 55%;
    align-items: center;
    justify-content: center;
  }
  .btn-user{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .image-logo-username{
    position: absolute;
    left: -30px;
    bottom: 0px;
  }
  .topbar-menu{
    padding-right: 20px;
  }
 
  .row-user-information-struct-product-photo{
    
    left: -18px;
  }
  .login-form-title{
    font-size: 20px;
  }
  .register-form-title{

    font-size: 20px;
  }
  .register-form-sign_in{
    font-size: 15px;
  }
  .register-form-compte-exist{
    font-size: 10px;
  }
  .register-form-button-style{
    font-size: 13px;
  }
  .register-form-input-style {
    width: 100%;
    height: 55px;
   
  }
  .login-form-button-style{
    font-size: 13px;
  }
  .user-information-pages{
    width: 90%;
  }
  .user-information-categorie-btn-plus-none{
    display: none;
    width: 0px !important;
    height: 0px !important;
  }
  .row-user-information-struct-product-mobile{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .row-user-inforamtion-style-product{
    margin-right: 5%;
      width: 72%;
  }
 
  .member-space-content{
    padding-left: 7%;
    padding-top: 3%;
    width: 80%;
  }
  .member-space-content-collapsed{
    padding-left: 7%;
    padding-top: 3%;
    width: 80%;
  }
  .ant-layout-sider {
    z-index: 1000;
    min-width: 100%!important;
    width: 100%!important;
    flex: 0 0 60%!important;
    max-width: 100%!important;
    transition: 0.8s ease;
    
  }
  .ant-layout-sider-collapsed{
    min-width: 20%!important;
    width: 20%!important;
    flex: 0 0 20%!important;
    max-width: 20%!important;
    transition: 0.8s ease;
    
  }
  .member-space-sidebar{
    position: fixed;
    
   
  }
  .temp-shop-section-template {
    width: 72%;
    background-color: white;
    padding: 0 40px;
  }
  .user-rubrique{
    cursor: pointer;
    font-size: 10px;
    color: white;
    font-family: 'PoppinsBold';
    margin-top: 5%;
  }
  .user-rubrique-selected{
    cursor: pointer;
    font-size: 10px ;
    color: #FB9D19;
    font-family: 'PoppinsBold';
    margin-top: 5%;
  }
  .member-space-sidebar-mobile{
    position: fixed;
    background-color: #181144;
    min-height: 100vh;
  }
  .button-sauvgarder-user-information{
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .button-sauvgarder-user-template{

    width: 270%;
    position: relative;
    left: -80%;
   
  }
  .button-sauvgarder-user-product{
    align-items: center;
    width: 140%;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    left: -30%;
    position: relative;
   
  }
  .button-sauvgarder-user-domaine{
    align-items: center;
    width: 150%;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    left: -30%;
  }
  .row-user-information-domaine{
    width: 87%;
    position: relative;
    right: 5%;
   }
  .template-section-title{
    color: #181143;
    font-family: "PoppinsBold";
    font-size: 15px;
    width: 208px;
    position: relative;
    right: 25px;
  
  }
  .template-section-modif{
    color: #181143;
    font-family: "PoppinsBold";
    font-size: 10px;
    width: 220px;
    position: relative;
    right: 25px;
  
  }
  .temp-shop-show-all-icon {
    font-size: 12px;
    position: relative;
    color: #181143;
    left: 1px;
    top: -7px;
  }
  .temp-shop-show-all:hover, .temp-shop-show-all {
    display: block;
    text-align: center;
    font-family: "PoppinsSemiBold";
    font-size: 17px;
    position: relative;
    
    color: #181143;
    text-decoration: none;
    padding-top: 50px;
  }
  .arrow-size {
    max-width: 40%;
    position: relative;
    right: -55%;
  }
  .btn-slider {
    font-size: 15px;
    width: 30%;
    padding: 0;
  }
  .slide img {
    max-width: 140%;
  }
  .carousel {
    width: 100%;
    margin-top: 100px auto;
    margin-bottom: 50px;
    padding: 0;
  }
 .carousel-global{
  position: relative;
  width: 220px;
  right: 50px;
 }
 .member-space-update-text-template{
  color: #036CAC;
  font-family: poppins;
  font-weight: 400;
  font-size: 12px;
 
  letter-spacing: 1.2px;
  cursor: pointer;
 
}

.text-pack {
  font-family: "GilroyMedium";
  color: white;
  font-size: 18px;
  margin: auto;
  padding: 0 5%;
  left: 2%;
  right: 2%;
  top: 40%;
  text-align: left;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-devenir-partenaire{
  color: #181143;
  font-family: "PoppinsBold";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 208px;
  position: relative;
  left: -3%;
}
.row-devenir-partenaire{
  width: 120%;
  margin-bottom: 1em;
  position: relative;
  left: -3%;
}
.button-sauvgarder-user-partenanire{

  align-items: center;
  width: 110%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  left: -3%;
}
.login-form-button {
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 5%;
  width: 130%;
  position: relative;
  left: -15%;
}
.register-form-button {
  align-items: center;

  justify-content: center;
  width: 130%;
  position: relative;
  left: -15%;


  
}
.blue-page-image {
  width: 155%;
  margin-right: 50%;
  position: relative;
  right: 100%;
  padding-top: 3%;

}
.row-login-form{
  width: 80%;

  position: relative;
  left: 10%;
}
.register-form-title{
  font-size: 25px;
}
.code-form-content {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
.user-confirmation-regener-code-message{
  font-size: 11px;
}
.block-input {
 
  gap: 25px;
  
}

.icon-footer {
  color: #EC1577;
  font-size: 15px;
  padding-right: 3px;
}
.footer-contact{
  margin-left: 17%;
}
.contact-footerr {
  color: #181143;
  font-family: "PoppinsRegular";
  font-size: 13px;
  padding-bottom: 0.3em;
}
.user-information-title-mobile{

  font-size: 20px;
 
}
.user-information-title-entreprise{
  font-size: 20px;
}
.register-form-content-steps-1{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5%;
}
}











.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
  background-color: #181144 !important;
}
.member-space-sidebar{

}

.ant-layout-sider {
 
  justify-content: center;
 
  min-width: 100%;
  width: 100% ;
  flex: 0 0 60%;
  max-width: 100%;
  transition: 0.8s ease;

}
.ant-layout-sider-collapsed{
  min-width: 6.4%;
  width: 6.4%;
  flex: 0 0 6.4%;
  max-width: 6.4%;
  transition: 0.8s ease;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  border-left: 5px solid white;
  background-color: unset;
  
}
.member-space-sidebar{
  position: fixed;
  background-color: #181144;
  min-height: 100vh;
 
}

.member-space-logout-icon{
  position: fixed;
  right: 3%;
  top: 15px;
  max-width: 25px;
  cursor: pointer;
}

.sidebar-icon{
  align-self: baseline;
  justify-content: center!important;
}
.member-space .ant-menu-root.ant-menu-inline{
  color: white;
}

.member-space .ant-menu-title-content {
  color: white;
  font-family: poppins;
  font-weight: 300;
}
.ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  display: flex;
  align-items: center;
  
  transition: border-color 0.3s, background 0.3s, padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.ant-menu-root.ant-menu-inline-collapsed .ant-menu-item > .ant-menu-inline-collapsed-noicon, .ant-menu-root.ant-menu-inline-collapsed .ant-menu-submenu .ant-menu-submenu-title > .ant-menu-inline-collapsed-noicon {
  font-size: 16px;
  text-align: center;
}

.user-rubrique{
  cursor: pointer;
  font-size: 30px;
  color: white;
  font-family: 'PoppinsBold';
  margin-top: 5%;
}
.user-rubrique-selected{
  cursor: pointer!important;
  font-size: 30px;
  color: #FB9D19!important;
  font-family: 'PoppinsBold'!important;
  margin-top: 5%!important;
}
.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child){
  margin-bottom: 30px !important;
}